table {
    background: #ddd;
    border-collapse: collapse;
    color: #333;
}

th, td {
    border: 1px solid black;
}

th {
    background: #bbb;
    color: #000;
    font-weight: bold;
    text-align: center;
}

tr.active {
    background: #bbffbb;
    color: #000;
}

.negative {
    color: #dd0000;
}