body {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0;
}

main {
    display: grid;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
input[type="submit"],
select,
textarea {
    display: block;
}

table {
    background: #ddd;
    border-collapse: collapse;
    color: #333;
}

th, td {
    border: 1px solid black;
}

th {
    background: #bbb;
    color: #000;
    font-weight: bold;
    text-align: center;
}

th:last-child {
    min-width: 1em;
}

tr.active {
    background: #bbffbb;
    color: #000;
}

main > *:not(section),
main > section > * {
    margin: 1rem;
}

main > section:after {
    content: '';
    display:block;
    border-bottom: 1px solid #777;
    margin: 0 1rem;
}

main > section > ul,
form > ul,
body#my-account > main > ul {
    list-style: none;
    padding: 0;
}

form,
main > section > ul > li {
    border: 1px solid #777;
    border-radius: .25rem;
    box-shadow: .5rem .5rem 1rem #bbb;
    margin: 1rem 0;
    padding: 1rem;
}

form > ul > li {
    margin: 1rem 0;
}

li > h2:first-child {
    margin-top: 0;
}

:where(input, textarea).error {
    border: 2px solid #dd0000;
}

.negative, .error-message {
    color: #dd0000;
}

.success-message {
 color: #00cc00;
}

@media (min-width: 32rem) {

    body > header > nav > ul {
        display: flex;
        align-items: flex-start;
        text-align: center;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0 1rem;
    }

    body > header > nav > ul > li:not(:first-child) {
        margin-left: 1rem;
    }

    body > header > nav > ul > li > p {
        color: #551a8b;
        cursor: pointer;
        text-decoration: underline;
        margin: 0;
    }

    body > header > nav > ul > li > ul {
        text-align: left;
        opacity: 0;
        transform: translateY(-50%) scaleY(0);
        transition: .3s;
        position: absolute;
        background: #fff;
        border-radius: 0.25rem;
        box-shadow: 0.5rem 0.5rem 1rem #bbb;
        margin: 0 0 0 .5rem;
        list-style: circle inside;
        padding: 0.5rem 1rem 0.5rem 0;
    }

    body > header > nav > ul > li:hover > ul {
        opacity: 1;
        transform: none;
    }

    body > header > nav > ul > li > ul > li {
        margin: 0 0 .5rem 0;
    }

    body > header > nav > ul p.lang-selector,
    body > header > nav > ul p.lang-selector + ul,
    body > header > nav > ul p.lang-selector + ul > li {
        color: #000;
        cursor: initial;
        text-decoration: none;
        display: inline;
        box-shadow: none;
        opacity: 1;
        transform: none;
    }

    body > header > nav > ul p.lang-selector + ul {
        padding: 0;
    }

    :where(button, input)[type="submit"] {
        margin-left: calc(33.4% + .6rem);
    }

    form > ul > li {
        display: grid;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr 2fr;
    }

    form > ul > li > label:first-child {
        grid-row: span 2;
        text-align: right;
    }

    form > ul > li > input[type="checkbox"] {
        width: fit-content;
    }

    form > p:where(.error-message, .success-message) {
        text-align: center;
    }
}

@media (min-width: 48rem) {
    main > section > ul {
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    main > section > ul > li {
        margin: 0;
    }
}

@media (min-width: 64rem) {

    body > header > *,
    main > *:not(section),
    main > section > * {
        margin: 1rem auto;
        width: 62rem;
    }

    main > section:after {
        margin: 0 auto;
        width: 62rem;
    }

    main > section > ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}