<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="configManager" class="by.aab.isp.config.ConfigManager" />
    <bean id="dataSource" class="by.aab.isp.dao.jdbc.SqlConnectionPool" destroy-method="close">
    	<constructor-arg ref="configManager" />
    </bean>
    <bean id="tariffDao" class="by.aab.isp.dao.jdbc.TariffDaoJdbc">
    	<constructor-arg ref="dataSource" />
    </bean>
    <bean id="userDao" class="by.aab.isp.dao.jdbc.UserDaoJdbc">
    	<constructor-arg ref="dataSource" />
    </bean>
    <bean id="promotionDao" class="by.aab.isp.dao.jdbc.PromotionDaoJdbc">
    	<constructor-arg ref="dataSource" />
    </bean>
    <bean id="subscriptionDao" class="by.aab.isp.dao.jdbc.SubscriptionDaoJdbc">
    	<constructor-arg ref="dataSource" />
    	<constructor-arg ref="userDao" />
    	<constructor-arg ref="tariffDao" />
    </bean>
    <bean id="tariffService" class="by.aab.isp.service.impl.TariffServiceImpl">
    	<constructor-arg ref="tariffDao" />
    </bean>
    <bean id="promotionService" class="by.aab.isp.service.impl.PromotionServiceImpl">
    	<constructor-arg ref="promotionDao" />
    	<constructor-arg ref="configManager" />
    </bean>
    <bean id="subscriptionService" class="by.aab.isp.service.impl.SubscriptionServiceImpl">
    	<constructor-arg ref="subscriptionDao" />
    	<constructor-arg ref="tariffService" />
    </bean>
    <bean id="userService" class="by.aab.isp.service.impl.UserServiceImpl" init-method="createDefaultAdmin">
    	<constructor-arg ref="userDao" />
    	<constructor-arg ref="tariffService" />
    	<constructor-arg ref="subscriptionService" />
    </bean>
</beans>