<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Internet Server Provider</display-name>
  <filter>
    <filter-name>userSessionFilter</filter-name>
    <filter-class>by.aab.isp.web.filter.UserSessionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>commandFilter</filter-name>
    <filter-class>by.aab.isp.web.filter.CommandFilter</filter-class>
  </filter>
  <filter>
    <filter-name>authorizationFilter</filter-name>
    <filter-class>by.aab.isp.web.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userSessionFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>commandFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>authorizationFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/jsp/login-form.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/error/403.jsp</location>
  </error-page>
</web-app>
